body {
	background-color: rgb(132, 176, 218);
}
h1{
	font-size: 80px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
	background-color:rgb(149, 114, 77);
	font-size: 50px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
	size: 40px;
}